.linkButton {
  width: 20rem;
  height: 4rem;
  background-color: black;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-block-start: var(--margin-small);
}
