.textareaCls {
  resize: none;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 4px;
  width: 40vw;
  height: 20vh;
  padding-block-start: var(--padding-small);
  padding-inline-start: var(--padding-medium);
}

@media (max-width: 720px) {
  .textareaCls {
    width: 90vw;
  }
}
