.dropdownContainer {
  appearance: none;
  position: relative;
  margin-block-start: var(--margin-small);
}

.dropdown {
  margin-inline-start: 1rem;
  width: 200px;
  height: 50px;
  font-size: 16px;
  padding-block-start: var(--padding-xs);
  padding-block-end: var(--padding-xs);
  padding-inline-start: var(--padding-medium);
}
