.container {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  width: 50vw;
  height: 35vh;
  background-image: url('../public/images/hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-block-end: 5rem;
}

.textContainer {
  font-size: 3rem;
}

.btnContainer {
  margin-block-start: 2rem;
}

@media (max-width: 720px) {
  .imgContainer {
    width: 90vw;
    height: 35vh;
    background-image: url('../public/images/hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-block: 2rem;
    margin-inline: 4rem;
  }

  .textContainer {
    font-size: 1.5rem;
    margin-block-start: 2rem;
  }
}
