.translateFormContainer {
  margin-inline: var(--margin-medium);
}

.inputOutputContainer {
  display: flex;
  flex-direction: row;
  margin-block-start: var(--margin-small);
  margin-block-end: var(--margin-small);
}

.inputTextArea {
  flex: 1;
}

.outputTextArea {
  flex: 1;
}

@media (max-width: 720px) {
  .translateFormContainer {
    margin-inline: var(--margin-small);
  }

  .inputOutputContainer {
    display: flex;
    flex-direction: column;
  }

  .inputTextArea, .outputTextArea {
    margin-block-start: var(--margin-medium);
  }
}